.tag-input1 {
  position: absolute;
  transform: scale(0);
}

.selector-wrapper1 {
  display: flex;
  width: 100%;
  align-items: center;

  label {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 0.5rem;
  }
}

.tag-input1:checked + label {
  border-color: $marronbis;
}

.tag-input2 {
  position: absolute;
  transform: scale(0);
}

.selector-wrapper2 {
  display: flex;
  width: 100%;
  align-items: center;

  label {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 0.5rem;
  }
}

.tag-input2:checked + label {
  border-color: $marronbis;
}

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: #1EDD88;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}

.field_input {
  border: none;
  background: transparent;
  border-bottom: 2px solid $marronbis;
}

.btn_new {
  border-radius: 50px;
  justify-content: center;
  padding: 10px 35px;
  color: antiquewhite;
  background-color: $marronbis;
  font-size: 14px;
  margin-top: 20px;
}

.new_h3 {
  font-size: 2rem;
  font-weight: bold;
}

.legend {
  font-weight: bold;
  font-size: 0.9rem;
}
