/*
.btn-1 {
  background-color: $orange;
  color: $orange;
}

.btn-2 {
  background-color: black;
  color: $light-gray;
  border-color: $blue;
}

.btn-1 a:hover{
  background-color: $orange!important;
}

.btn-3 {
  color: white;
  background-color: $marronbis;
  border: 1px solid $marronbis;
  padding: 8px 24px;
  border-radius: 25px;
  // font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-3:hover {
  opacity: 0.8;
}
 */
