
<div class="container">
  <h1>Tous mes invités par famille</h1>

  <% @families.each do |family| %>
    <div class="card m-3">
      <div class="card-header">
        <%= family.guests.count %> personnes
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= family.name %></h5>
        <p class="card-text">Listes des invités :</p>
          <ul>
            <% family.guests.each do |guest| %>
              <li><%= guest.first_name %> <%= guest.last_name %></li>
            <% end %>
          </ul>
        <a href="#" class="btn btn-primary">Mettre à jour</a>
      </div>
    </div>
  <% end %>

</div>
