<nav class="nav">
  <%= image_tag "W.png", id: "logo" %>
  <div class="nav-upper-options">
    <div class="nav-option option1">
      <%= image_tag "tableau-de-bord.png", class: "nav-img" %>
      <h3>Dashboard</h3>
    </div>

    <div class="option2 nav-option">
      <%= image_tag "loupe.png", class: "nav-img" %>
      <h3>Invites</h3>
    </div>

    <div class="nav-option option3">
      <%= image_tag "loupe.png", class: "nav-img" %>
      <h3> Plan de table</h3>
    </div>

    <div class="nav-option option4">
      <h3> </h3>
    </div>

    <div class="nav-option option5">
      <h3> </h3>
    </div>

    <div class="nav-option option6">
      <h3> </h3>
    </div>

    <div class="nav-option logout">
      <h3></h3>
    </div>

  </div>
</nav>
