<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1>List of Desks</h1>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <% @desks.each do |desk| %>
              <li class="list-group-item">
                <%= link_to desk.name, desk_path(desk) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
