



<div class="main-container">
	<div class="box-container">
    <div class="box box1">
      <img src= assets/images/loupe.png>
      <h2 class="topic">Project</h2>
    </div>

				<div class="box box2">
					<div class="text">
						<h2 class="My project-heading">150</h2>
						<h2 class="topic"> Project </h2>
					</div>

					<img src=
"https://www.flaticon.com/fr/icones-gratuites/loupe">
				</div>

				<div class="box box3">
					<div class="text">
						<h2 class="event-heading">320</h2>
						<h2 class="event"> Activities </h2>
					</div>

					<img src=
"https://www.flaticon.com/fr/icones-gratuites/loupe">
				</div>

				<div class="box box4">
					<div class="text">
						<h2 class="seating-heading">70</h2>
						<h2 class="seating"> Table seating </h2>
					</div>

					<img src=
"https://www.flaticon.com/fr/icones-gratuites/loupe">
				</div>
			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
