<div class="container d-grid">

  <div class="infos-container d-flex infos-container justify-content-around">
    <div class="div">
      <h2>Wedding Date</h2>
      <div class="date">
        <p class="ymd">Sept 15, 2023</p>
        <p class="countdown">11 Days Left</p>
      </div>
    </div>
    <div class="div">
      <h2>Total Guests</h2>
      <div class="stats-card">
        <p class="stat">145</p>
        <p class="stat-info">Guests</p>
      </div>
    </div>
  </div>
</div>


<div class="container container-carousel">
  <h2>Dress Code</h2>
  <div id="carouselDashboard" class="carousel slide" data-interval="false">
    <div class="carousel-inner dashboard-carousel">
      <div class="carousel-item active dashboard-carousel">
        <img src="<%= image_path "robe.jpg" %>" class="d-block dress-img-carousel" alt="...">
      </div>
      <div class="carousel-item dashboard-carousel">
        <img src="<%= image_path "tenue.jpeg" %>" class="d-block dress-img-carousel" alt="...">
      </div>
      <div class="carousel-item dashboard-carousel">
        <img src="<%= image_path "costume.jpeg" %>" class="d-block dress-img-carousel" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDashboard" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDashboard" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
