<h1>Home</h1>
 <div class="container">
  <div class="wedding-card">
  <div class="row">
			<%=image_tag("wedding-card.png") %>
<%= link_to "logout", new_user_session_path %>
    </div>
    </div>
  </div>
</div>
</div>
