.btn-1 {
  background-color: $orange;
  color: $orange;
}

.btn-2 {
  background-color: black;
  color: $light-gray;
  border-color: $blue;
}

.btn-1 a:hover{
  background-color: $orange!important;
}
