.desk-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.desk-card {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 6px;
  margin: 10px;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  &.active {
    border: 2px solid $marronbis;
  }

}

.desk-card-left {

  .desk-feature{
    display: flex;
    align-items: center;
    padding-top: 10px;
    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
    p {
      margin-left: .6rem;
      margin-bottom: 0;
    }
  }

}

.desk-card-right {
  display: flex;
  flex-direction: column;
  > div:first-child { flex-grow: 1 }
  .desk-gauge-container{
    display: flex;
    padding-top: 10px;
  }

  .desk-cta{
    display: flex;
    padding-top: 50px;
    text-decoration: none;
    color: black;
    font-size: small;
    font-weight: bold;
    img {
      margin-left: 0.6rem;
      position: relative;
      top: -1px;
    }
  }

}
