.bg-gold {
  background-color: white!important;
}
.wedding-navbar {
  height: 100vh;
  overflow: hidden;
  width: 260px;
  a {
    color: $gray;
    text-align: center;
  }
  .nav a:hover {
    background-color: $orange;
    color: black;
  }
  .nav-pills .nav-link.active {
    background-color: #794801;
  }

  #sidebar-logo{
    border-radius: 50%;
    align-items: center;
  }


  p {
    margin:0 !important;
    color: black;
  }

}

.padding {
  padding: 60px;
}
