.bg-gold {
  background-color: white!important;
}
.wedding-navbar {
  // height: 100%;
  width: 260px;
  float: left;
  // position: fixed;
  a {
    color: $gray;
  }
  .nav a:hover {
    background-color: $orange;
    color: white;
  }
  .nav-pills .nav-link.active {
    background-color: $orange;
  }

  #sidebar-logo{
    border-radius: 50%;
    align-items: center;
  }
}

.padding {
  padding: 60px;
}
