.bg-gold {
  background-color: white!important;
}
.wedding-navbar {
  height: 100vh;
  overflow: hidden;
  width: 260px;
  box-shadow: 4px 0px 16px rgba(0,0,0,0.2);
  a {
    color: $gray;
    text-align: center;
  }
  .nav a:hover, .nav-pills .nav-link.active:hover {
    background-color: $orange;
    color: white;
    p { color: white; }
  }
  .nav-pills .nav-link.active {
    background-color: $marronbis;
    color: white;
    p { color: white }
  }

  #sidebar-logo{
    border-radius: 50%;
    align-items: center;
  }


  p {
    margin:0 !important;
    color: black;
  }

}

.padding {
  padding: 60px;
}
