// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "desks/index";
@import "families/index";
@import "families/show";
@import "guests/index";
@import "weddings/sitting_plan";
// @import "dashboard";

.main-layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  .main-right-content {
    height: 100%;
    overflow-y: auto;
    flex-grow: 1;
    padding: 1em;
  }
}

.dashboard-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.dashboard-grid-three {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.beautiful-heading {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.square {
  aspect-ratio: 1 / 1;
}
